#homePage {
  background-image: url("https://vignette.wikia.nocookie.net/onepunchman/images/8/8a/Watchingtv.png/revision/latest?cb=20151230134703") !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}